extends ../app.pug

block content
    h1 List

    table
        thead
            tr 
                th ID
                th Name
                th Email
                th Actions
        tbody
            tr
                th 1
                td John 
                td john@mail.com
                td
                    a(href="#") View
                    a(href="#") Edit
                    a(href="#") Destroy