extends ../app.pug

block content
    h1 About
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci optio vel consequuntur ducimus! Odit deleniti quidem, quibusdam ipsa vero maiores quo rem suscipit natus quia nisi nostrum doloremque ut, vel tempore aspernatur tenetur itaque commodi sequi nobis! Hic inventore ab officiis eaque odit tempora unde soluta fuga, maxime error?